:root {
    /* --bg: #303030; */
    --cl: #303030;
    --alt: #6699ff;
}
/* andika-regular - latin_cyrillic */
@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/andika-v10-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Andika Regular'), local('Andika-Regular'),
         url('../fonts/andika-v10-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/andika-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/andika-v10-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/andika-v10-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/andika-v10-latin_cyrillic-regular.svg#Andika') format('svg'); /* Legacy iOS */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'Andika', sans-serif;
    background-image: url(../img/bg.png);
}

.header {
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient( #fff, var(--alt));
}

.logo-wrp {
    padding-top: 1rem;
    text-align: center;
}

.hgroup {
    text-align: center;
    padding-top: 1rem;
}

.subtitle,
.title {
    text-shadow:  1px 1px 1px hsla(0, 0%, 100%, .2);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--cl);
    text-align: center;
}
figure {
    margin: 0;
}
.cart {
    margin-bottom: 1rem;
    padding: .5rem;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}
.cart__img {
    width: 100%;
    height: auto;
}
.cart__authors {
    font-size: 1.125rem;
}
.cart__title {
    font-size: 1rem;
    text-indent: 1rem;
}

.section {
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
    padding: 1rem;
    margin-bottom: 1rem;
}
.nav-menu__item {
    width: 90%;
    margin: 0 auto .5rem;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}
.nav-menu__link {
    display: block;
    text-align: center;
    padding: .25rem .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    line-height: 2.75rem;
}

.current {
    color: var(--cl);
}

.nav-menu__link:hover {
    color: var(--cl);
}
/* ========= #animation ============ */
.animation-underline {
    position: relative;
}

.animation-underline::after {
    content: "";
    width: 0;
    border-bottom: 4px solid var(--alt);
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.animation-underline:hover::after {
    width: 100%;
}

/* ========= #animation end ============ */

.person-info__item {
    margin-bottom: 1rem;
}

.description {
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.5;
}

.description::first-letter {
    font-weight: bold;
    font-size: 120%;
}

.wide-image {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, .2);
}
.list {
    list-style-type: disc;
    padding-left: 2rem;
}
.research-list {
    list-style-type: disc;
    padding-left: .5rem;
}
.list li::first-letter,
.research-list__item::first-letter {
    font-weight: bold;
    font-size: 120%;
}

.nav-up {
    position: sticky;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 90%;
    --s: 60px;
    width: var(--s);
    height: var(--s);
    opacity: .2;
    border-radius: 50%;
    background-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    transition: background-color,box-shadow .2s linear;
}

.nav-up::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%) rotate(-45deg);
    --s: 20px;
    width: var(--s);
    height: var(--s);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: transparent;
    z-index: 100;
}

.nav-up:hover {
    opacity: 1;
}
/* ===================== #members ===================== */
.person-cart {
    min-height: 110px;
    margin: auto;
    margin-bottom: 1rem;
    padding: .75rem;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}
.person-cart__link .subtitle {
    text-align: center;
    cursor: pointer;
    text-shadow:  2px 2px 2px hsla(0, 0%, 0%, .2);
}
.person-cart:hover .subtitle {
    text-shadow:none;
}
.person-cart:hover .person-cart__img-wrp {
    box-shadow:none;
}
.person-cart:hover {
    box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, .2);
}
.person-cart__img-wrp {
    --s: 110px;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
    float: left;
    box-shadow: 1px 1px 3px 1px hsla(0, 0%, 0%, .2);
}

.head-img-wrp {
    --s: 140px;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
    box-shadow: 1px 1px 3px 1px hsla(0, 0%, 0%, .2);
}
.person-cart__img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.head-img-wrp--fix {
    width: 175px;
    flex-basis: 175px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 231px;
    align-self: flex-start;
    border-radius: 0;
}
@media screen and (min-width: 480px ) {
    .monographs  .gallery {
        max-width: 1024px;
    }
    .gallery {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        /* align-items: flex-start; */
    }
    .cart,
    .person-cart {
        width: 45%;
    }
    .person-cart__img-wrp {
        float: none;
    }

    .members .hgroup--head {
        display: flex;
        justify-content: space-between;
    }
    .members .section--head {
        display: flex;
        flex-wrap: wrap;
    }
    .members .head-img-wrp {
        border-radius: 0;
        margin: 1rem;
    }
    .members .person-info__contacts--head {
        padding-top: 2rem;
    }
}

@media screen and (min-width: 768px ) {
    .header {
        padding-bottom: 0;
    }
    .section {
        background-color: #fff;
    }
    .container--header {
        padding: 1rem 1rem 0;
    }
    .logo-wrp {
        display: inline-block;
        /* margin-left: 1rem; */
        vertical-align: middle;
    }
    .hgroup--header {
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: middle;
    }
    .subtitle--header {
        font-size: 1.2rem;
    }
    .title--header {
        font-size: 1.8rem;
    }
    .nav-menu {
        display: inline-flex;
        display: flex;
    }

    .nav-menu__item {
        text-align: center;
        box-shadow: none;
        /* border-bottom: 2px solid transparent; */
    }
    .nav-menu__link {
        font-size: 1rem;
        text-align: center;
        display: inline-block;
        line-height: 1.5;
        min-height: 48px;
        transition: all .3s;
        border-bottom: 2px solid transparent;

    }
    .nav-menu__item > .current {
        border-bottom: 2px solid #fff;
    }
    .nav-menu__item:hover > .nav-menu__link {
        border-bottom: 2px solid #fff;
    }
    /*  ============= #main ================ */
    .hgroup--head {
        display: inline-block;
        width: 65%;
        text-align: left;
    }
    .person-info__contacts--head {
        box-sizing: border-box;
        padding-left: 1rem;
        display: inline-block;
        width: calc(35% - 1rem);
    }
    .main .section {
        padding-left: 1.5rem;
    }
    .section--half {
        box-sizing: border-box;
        width: calc(50% - 1rem);
        display: inline-block;
        vertical-align: top;
    }
    .col-2 {
        display: flex;
        justify-content: space-between;
    }
    .text-center {
        text-align: center;
    }
    .research-list--columns {
        columns: 2;
        column-gap: 2rem;
    }
    .research-list__item {
        break-inside: avoid;
    }
    .cart,
    .person-cart {
        width: 30%;
    }

}

@media screen and (min-width: 960px ) {
    body {
        background: linear-gradient( to left, #d9e3f6 0%, #fff 15%, #fff 85%, #d9e3f6 100% );
    }
    .container {
        max-width: 1024px;
        margin: auto;
    }
    .cart,
    .person-cart {
        width: 20%;
    }
}

.section-members {
    max-width: 1024px;
    margin: auto;
    box-sizing: border-box;
}
.members-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.members-links a {
    border: 2px solid #6699ff;
    border-radius: 25px;
    padding: 1rem;
    margin: 0 .5rem;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}
.members-links a:hover {
    box-shadow: 0 0 3px 1px hsla(0, 0%, 0%, .4);
}
/* .container-members {
    display: flex;
    flex-wrap: wrap;
} */

.research-list__item {
    margin-bottom: 1rem;
  }
  .fas {
    color: var(--alt);
  }

  
  .hr {
    color: var(--alt);
    display: block;
    height: 4px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 4px solid var(--alt);
    margin: 1em 0;
    padding: 0;
    opacity: 0.2;
  }

  .link {
    text-decoration: none;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.2);
    color: var(--alt);
  }
