@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/andika-v10-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Andika Regular'), local('Andika-Regular'),
         url('../../../fonts/andika-v10-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../fonts/andika-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../fonts/andika-v10-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../../../fonts/andika-v10-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../fonts/andika-v10-latin_cyrillic-regular.svg#Andika') format('svg'); /* Legacy iOS */
  }